<!doctype html>
<html>
<head>
    <style type="text/css">
        /* Side bar */
        .sidenav{
            height:100%;
            width : 160px;
            position:fixed;
            z-index: 1;
            top:0;
            left:0;
            background-color:#111;
            overflow-x:hidden;
            padding-top:20px;
        }

        .sidenav a{
            padding:6px 8px 6px 16px;
            text-decoration:none;
            font-size: 25px;
            color: #818181;
            display:block;
        }

        .sidenav a:hover{
            color:#f1f1f1;
        }

        .main{
            margin-left:160px;
            padding:0px 10px;
        }

        /* High charts */
        .highcharts-figure, .highcharts-data-table table {
          min-width: 310px;
          max-width: 800px;
          margin: 1em auto;
        }

        #container {
          height: 400px;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #EBEBEB;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }
        .highcharts-data-table caption {
          padding: 1em 0;
          font-size: 1.2em;
          color: #555;
        }
        .highcharts-data-table th {
            font-weight: 600;
          padding: 0.5em;
        }
        .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
          padding: 0.5em;
        }
        .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
          background: #f8f8f8;
        }
        .highcharts-data-table tr:hover {
          background: #f1f7ff;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--    highchart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <title>
        {% block title %}
            Hasitha 's Page
        {% endblock %}
    </title>
</head>

<body>
    <div class="sidenav">
        {% if user.is_authenticated %}
            <a href="/property/dashboard/">Dashboard</a>
            <a href="/property/manage-data/">Manage Data</a>
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/login">Log In</a>
        {% endif %}
    </div>
    <div id="content" name="content" class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Property Analyzer</h1>
                <hr class="mt-0 mb-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>
</body>
</html>