{% extends 'main/base.html' %}
{% block title %}
View
{% endblock %}

{% block content %}
    {% for td in user.todolist.all %}
        <p><a href="/{{td.id}}">{{td.name}}</a></p>
    {% endfor %}
{% endblock %}