{% extends 'main/base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>State vs Prices</h3>
        <div class="col-12">
            <figure class="highcharts-figure">
              <div id="container"></div>
              <p class="highcharts-description">
                This chart is state which is in usa. That is y-axis and price of the state is x-axis.
                  <table class="table">
                    <tr>
                        <th>No.</th>
                        <th>State</th>
                    </tr>
                    {% for state in states %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{state}}</td>
                        </tr>
                    {% endfor %}
                  </table>
              </p>
            </figure>

            <h3>Price Upon Request Vs Prices given</h3>
            <figure class="highcharts-figure">
              <div id="container-pie"></div>
              <p class="highcharts-description">
              </p>
            </figure>
        </div>
    {% else %}
        <p>You are not logged In, Please logged In first.</p>
    {% endif %}

    <script>
        Highcharts.chart('container', {
          chart: {
            type: 'bar'
          },
          title: {
            text: 'State vs Prices'
          },
          subtitle: {
            text: 'Source: <a href="https://www.sothebysrealty.com/eng/sales/usa">sothebysrealty.com</a>'
          },
          xAxis: {
            categories: ['States'],
            title: {
              text: null
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Price (USD)',
              align: 'high'
            },
            labels: {
              overflow: 'justify'
            }
          },
          tooltip: {
            valueSuffix: ' USD'
          },
          plotOptions: {
            bar: {
              dataLabels: {
                enabled: true
              }
            }
          },
          legend: {
            layout: 'horizontal',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor:
              Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
            shadow: true
          },
          credits: {
            enabled: false
          },
          series: [{
            name: 'USA States',
            data: {{prices}}
          }]
        });
    </script>

<!--pie chart-->
    <script>
        Highcharts.chart('container-pie', {
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },
          title: {
            text: 'Price Upon Request Vs Prices given'
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
            point: {
              valueSuffix: '%'
            }
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
              }
            }
          },
          series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
              name: 'Price Upon Request',
              y: {{price_upon_request}}
            }, {
              name: 'Prices given',
              y: {{prices_given}}
            }]
          }]
        });
    </script>
{% endblock %}