{% extends 'main/base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Manage Data</h3>
            <form method="post" action="/property/manage-data/" class="form-group">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-success">Scrape Now</button>
                </div>

                <div class="col-8">
                    <table class="table">
                        <tr>
                            <th>State</th>
                            <th>Address</th>
                            <th>Price</th>
                        </tr>
                        {% for property in properties %}
                            <tr>
                                <td>{{property.state}}</td>
                                <td>{{property.address}}</td>
                                <td>{{property.price}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </form>
    {% else %}
        <p>You are not logged In, Please logged In first.</p>
    {% endif %}

    <!-- Modal -->
      <div class="modal fade" id="modalTemplate" role="dialog">
        <div class="modal-dialog">

        </div>
      </div>

    <script>
        $( 'form ').submit(function( event ) {
          $('#modalTemplate').modal("show");
        });
    </script>
{% endblock %}